.vscode
node_modules
package-lock.json

test/usage/js/node_modules
test/usage/js/package-lock.json

test/usage/ts/node_modules
test/usage/ts/package-lock.json

test/usage/js/dist
test/usage/ts/dist

*.tgz