<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/test/component/example2/">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Component Test</title>
  <link rel="stylesheet" href="../../shared.css">
</head>

<body>
  <div id="app">
    <div class="center">

      <label>Social Networks</label>
      <list-item e-for="link of links" data="link"></list-item>

    </div>
  </div>

  <script src="../../../dist/bouer.js"></script>
  <script>
    var app = new Bouer('#app', {
      data: {
        links: [
          {
            name: 'GitHub',
            url: 'https://github.com/bouerjs/bouer'
          },
          {
            name: 'Twitter',
            url: 'https://twitter.com/bouerjs'
          }
        ]
      },
      components: [
        {
          name: 'list-item',
          path: '/components/list-item.html',
        }
      ]
    });
  </script>
</body>

</html>
