* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #575757;
}

#app {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app .center {
  max-width: 500px;
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px 30px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

#app .center>div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

input,
select,
textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
  text-indent: 4px;
  flex: 1;
  min-height: 28px;
  margin: 6px 0;
  resize: none;
}

button {
  margin: 6px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 28px;
  cursor: pointer;
}
