<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/examples/component/example2/">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Component Test</title>
  <link rel="stylesheet" href="../../shared.css">
</head>

<body>
  <div id="app">
    <div class="center">

      <h2>For Loop With Component</h2>
      <list-item data="$data" e-for="link of links"></list-item>

    </div>
  </div>

  <script src="../../../dist/bouer.js"></script>
  <script>
    var app = new Bouer('#app', {
      data: {
        links: [{
          name: 'Twitter',
          url: 'www.twitter.com/bouerjs'
        },
        {
          name: 'Reddit',
          url: 'www.reddit.com/bouerjs'
        }
        ],
      },
      components: [
        {
          name: 'list-item',
          path: '/components/list-item.html',
        }
      ]
    });
  </script>
</body>

</html>